development: &default
  adapter: postgresql
  database: nazwa_bazy
  username: uzytkownik
  password: ****
  host: localhost
  port: 5432
  reconnect: true

test:
  <<: *default

production:
  <<: *default
